{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pdfclub-gorsel -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2943359289617623"
     data-ad-slot="4087431437"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                <h1>{{ page.title }}</h1>
            <div class="post-content">
            {{ content }}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2943359289617623"
     data-ad-slot="7545005306"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
               <form>
<div class="form-group">
  <label for="usr">İsminiz:</label>
  <input type="text" class="form-control" id="usr"><br>
  <label for="comment">Yorumunuz:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea><br>
  <button type="submit" class="btn btn-primary">Gönder</button>
    <span style="font-style:italic; color: red; font-weight:200;">Yorumunuz onaylandıktan sonra görünür.</span>
</div>
</form>
            </div>
            
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Sonraki Kitap</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Önceki Kitap</a>
              {% endif %}
          </div>
        </div>
        <div class="col-md-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>

{% include footer.html %}
