{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1>{{ page.title }}</h1>
            <div class="post-content">
            {{ content }}
            </div>
            
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Sonraki Kitap</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Önceki Kitap</a>
              {% endif %}
          </div>
        </div>
    </div>
</div>

{% include footer.html %}
